/* Write your code here. */
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #9796f0;
  width: 100vw;
  height: 100;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heading {
  color: white;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
p {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  padding-left: 10px;
}
.dont-display {
  display: none;
}
