/* Write your CSS here */
button {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0%;
  cursor: pointer;
  outline: none;
}
.item-container {
  width: 48%;
}

.item-image {
  width: 100%;
}

.name {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.location {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
}

.clickTriggered {
  border: solid #2dd4bf 2px;
}
