* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  width: 100vw;
  background-color: #2c0e3a;
  /* padding-left: 30px; */
  align-items: center;
  height: 40px;
}

.app-logo-image {
  height: 30px;
  width: 100;
}

.score-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score {
  font-family: 'Roboto';
  font-size: 15px;
  padding: 15px;
  color: #ffffff;
}

.score-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.span-text {
  color: #fec653;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.timer-logo {
  height: 20px;
  padding-right: 10px;
}

.bottom-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-width: 100vw;
  flex-grow: 1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 50vw; */
}

.match-image {
  width: 40vw;
  height: 100;
  padding-top: 20px;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0px;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail-image-button {
  padding: 5px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
.thumbnail {
  height: 70px;
  width: 70px;
}

.scoreCard-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  /* max-height: 500px; */
  padding: 30px;
  /* background-size: cover; */
  /* width: 50vw; */
  /* width: 100vw;
  height: 100%; */
  /* max-height: 400px;
  width: 100%; */
}

.trophy {
  width: 180px;
  margin-top: 150px;
}

.your-score {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}

.final-score {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
}

.reset-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #cf60c8;
  border-radius: 15px;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reset-icon {
  width: 30px;
  padding-right: 10px;
}

.play-again-text {
  color: white;
  font-size: 15px;
  font-family: 'Roboto';
}

.activeTab {
  color: #fec653;
  border-bottom: solid 1px #fec653;
}
.tab-heading {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .thumbnail {
    height: 50px;
    width: 50px;
  }
  .scoreCard-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  }
  .nav-bar-container {
    flex-wrap: wrap;
  }
}
